/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END OF CSS RESET*/

/*IMPORTS*/
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Oswald:wght@200..700&display=swap");

/*root variables*/
:root {
  --font-family: "Marcellus", serif;
  --img-size-normal: 320px;
  --bg-color: #c5beca; /*same as photo*/
}
/*start of css*/
body {
  font-family: var(--font-family);
  header {
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 16vw;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-right: 16px;

    .introImg {
      display: flex;
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
      min-width: var(--img-size-normal);
      min-height: var(--img-size-normal);
      flex-shrink: 0;
      background-image: url(../src/img/profile.jpeg);
      background-size: cover;
      background-position: bottom;

      .content {
        height: 100%;
        width: 100%;
        display: flex;

        .textContent {
          margin-top: 0;
          font-size: 24px;
          word-spacing: 16px;
          font-weight: 500;
          text-align: center;
          width: 100%;
          p {
          }
        }
      }
    }
    .about {
      background-color: var(--bg-color);

      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
      padding: 32px;
      display: flex;
      flex-shrink: 1;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      max-width: 600px;
      .title {
        font-weight: 100;
        font-size: 32px;
      }
      .textContent {
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        letter-spacing: -0.3px;
        font-weight: 0;
      }
      .icons {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        svg {
          cursor: pointer;
          width: 24px;
        }
      }
    }
  }
  main {
    section {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      margin-bottom: 32px;
      gap: 32px;

      .header {
        margin: 0 auto;
        font-size: 32px;
        font-weight: 600;
      }
      .projectContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        gap: 32px;
        max-width: 900px;
        margin: 0 auto;

        .project {
          display: flex;
          flex-direction: column;
          width: auto;
          border-radius: 0;
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.75);

          .screenshot {
            background-color: var(--bg-color);
            background-size: cover;
            flex-grow: 3;
            min-height: 200px;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .textContent {
              font-weight: 600;
            }
          }
          .projectDescription {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 8px;
            .descriptionHeader {
              display: flex;
              justify-content: space-between;
              padding: 4px;
              .projectName {
                font-size: 16px;
                font-weight: 600;
              }
              .icons {
                font-size: inherit;
              }
            }
          }
          .descriptionFooter {
          }
        }
      }
    }
  }
  footer {
    display: flex;
    background-color: skyblue;

    .contactContainer {
      .textContent {
      }
      .contacts {
      }
    }
    .imageContainer {
      height: 300px;
      width: 300px;
      background-image: url(https://placehold.co/160x160/green/green);
      background-size: cover;
    }
  }
}
